<?xml version='1.0' encoding='utf-8'?>
<widget id="com.empireoffire.musicstudio" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Empire of Fire Music Studio</name>
    <description>
        A professional music recording studio application with multi-track recording, effects, and synthesis capabilities.
    </description>
    <author email="support@empireoffire.com" href="https://github.com/guicash663/empire-of-fire">
        Empire of Fire Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
    <preference name="Orientation" value="default" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff121212" />
    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-feature android:name="android.hardware.microphone" android:required="true" />
    </config-file>
    <plugin name="cordova-plugin-statusbar" spec="^3.0.0" />
    <plugin name="cordova-plugin-media" spec="^6.0.0" />
    <plugin name="cordova-plugin-media-capture" spec="^4.0.0" />
    <plugin name="cordova-plugin-file" spec="^8.0.0" />
</widget>
